@if (products.length > 0) {
<section
  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-7 mt-10 mb-5"
>
  @for (product of products; track product.sku) {
  <app-card [product]="product" />
  }
</section>
<app-pagination
  [pageNumber]="pageNumber"
  [pageSize]="pageSize"
  [totalElements]="totalElements"
/>

} @else if (products.length === 0 && searchMode) {
<div role="alert">
  <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current inline-block"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      />
    </svg>
    Warning
  </div>
  <div
    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
  >
    <p>NO PRODUCTS FOUND</p>
  </div>
</div>
}
