<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.sku) {
      <tr>
        <td>
          <img [src]="product.imageUrl" width="50" />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency : "USD" }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
