<div
  class="w-80 h-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
>
  <img
    class="w-full object-cover rounded-t-xl"
    [src]="product()?.imageUrl"
    [alt]="product()?.name"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ product()?.name }}</div>
    <p class="text-gray-700 text-base">
      {{ product()?.description }}
    </p>
    <div class="flex items-center">
      <p class="text-lg font-semibold text-black my-5">
        {{ product()?.price | currency : "USD" }}
      </p>
      <button class="ml-auto btn btn-outline btn-neutral">Add to cart</button>
    </div>
  </div>
</div>
