<div class="navbar bg-base-100 shadow-sm">
  <!-- Website Name -->
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">MiraiMart</a>
  </div>

  <div class="join">
    <!-- Search Bar -->
    <input
      type="text"
      placeholder="Search"
      class="input w-24 md:w-auto focus:outline-none focus:ring-0"
    />
    <button class="btn btn-warning join-item">
      <img src="svgs/magnifying_glass.svg" />
    </button>
  </div>

  <div class="flex-none">
    <button class="btn btn-circle btn-ghost">
      <div class="indicator">
        <img src="svgs/shopping_cart.svg" />
        <span class="badge badge-sm indicator-item">6</span>
      </div>
    </button>
  </div>
</div>
